#blog-archive {
    background-color: #f8f8f8;
    display: inline;
    float: left;
    padding: 50px 0;
    width: 100%;
}

.blog-archive-area{
    display: inline;
    float: left;
    width: 100%;
}

.blog-archive-left{
    display: inline;
    float: left;
    width: 100%;
}

.blog-news-details > p{
    text-indent: 30px;
}

.blog-archive-left .blog-news-single{
    margin-bottom: 30px;
}

.blog-archive-left .blog-news-img {
    height: 350px;
}

.blog-pagination {
    display: inline;
    float: left;
    margin-top: 20px;
    padding: 15px 0;
    width: 100%;
}

.pagination-nav{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.pagination-nav li {
    display: inline-block;
}

.pagination-nav li a {
    color: #555;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 0 5px;
    padding: 5px 13px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.pagination-nav li a:hover,
.pagination-nav li a:focus {
    color: #fff;
    text-decoration: none;
    outline: none;
}

.blog-side-bar{
    display: inline;
    float: left;
    width: 100%;
}

.sidebar-widget{
    display: inline;
    float: left;
    margin-bottom: 30px;
    width: 100%;
}

.sidebar-widget>p{
    font-size: 14px;
}

.sidebar-widget ul li{}
.sidebar-widget ul>li>a{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
}

.search-group{
    display: inline;
    float: left;
    width: 100%;
    position: relative;
}

.search-group .blog-search-btn {
    border: medium none;
    color: #fff;
    font-size: 18px;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;
}

.search-group input[type="search"] {
    height: 40px;
    outline: medium none;
    padding: 5px 10px 5px 55px;
    width: 100%;
}

.search-group input[type="search"]:focus{
    outline: none;
}

.widget-title {
    color: #333;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 25px;
    position: relative;
}

.widget-title::after {
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 30px;
    width: 30px;
}

.widget-catg li a {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.widget-catg li a:hover,
.widget-catg li a:focus{
    text-decoration: none;
    outline: none;
}

.widget-catg li::before{
    content: '\f138';
    font-family: fontAwesome;
}

.tag-cloud{
    display: inline;
    float: left;
    width: 100%;
    text-align: left;
}

.tag-cloud a {
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 8px;
    margin-right: 3px;
    padding: 5px 10px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.tag-cloud a:hover,
.tag-cloud a:focus{
    color: #fff;
    text-decoration: none;
    outline: none;
}

.widget-archive li{}
.widget-archive li a{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.widget-archive li a span{
    margin-left: 5px;
    display: inline-block;
}

.widget-archive li a:hover,
.widget-archive li a:focus{
    text-decoration: none;
}

.blog-single-details blockquote {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.blog-single-details blockquote p{
    font-size: 18px;
}

.blog-single-details blockquote span {
    text-transform: uppercase;
    font-size: 16px;
}

.blog-single-details ul,
.blog-single-details ol {
    padding-left: 25px;
    margin-bottom: 20px;
}

.blog-single-details ul li{
    list-style: circle;
    font-size: 15px;
    margin-bottom: 5px;
    color:#777;
}

.blog-single-details h1,
.blog-single-details h2,
.blog-single-details h3,
.blog-single-details h4,
.blog-single-details h5,
.blog-single-details h6{
    color: #333;
}

.blog-single-details h3{
    margin-top: 0px;
}

.blog-single-bottom {
    display: inline;
    float: left;
    margin-top: 50px;
    padding: 10px 0;
    width: 100%;
}

.blog-single-tag{
    display: inline;
    font-size: 14px;
    float: left;
    width: 100%;
    text-align: left;
}

.blog-single-tag a {
    margin-left: 5px;
    color: #333;
}

.blog-single-tag a:hover,
.blog-single-tag a:focus {
    text-decoration: none;
    outline: none;
}

.blog-single-social{
    display: inline;
    float: left;
    width: 100%;
    text-align: right;
}

.blog-single-social a {
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    min-width: 30px;
    padding: 5px;
    text-align: center;
}

.blog-single-social a:hover,
.blog-single-social a:focus {
    text-decoration: none;
    outline: none;
}

.blog-navigation-area{
    display: inline;
    float: left;
    width: 100%;
}

.blog-navigation-area {
    display: inline;
    float: left;
    margin-top: 20px;
    width: 100%;
}

.blog-navigation-prev{
    float: left;
    text-align: left;
}

.blog-navigation-prev a {
    border-left: 2px solid #ccc;
    display: inline-block;
    padding-left: 15px;
}

.blog-navigation-prev a:hover,
.blog-navigation-prev a:focus{
    text-decoration: none;
    outline: none;
}

.blog-navigation-prev a > h5 {
    color: #222;
    font-size: 16px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.blog-navigation-prev a>span{
    font-size: 14px;
}

.blog-navigation-next{
    float: right;
    text-align: right;
}

.blog-navigation-next a {
    border-right: 2px solid #ccc;
    display: inline-block;
    padding-right: 15px;
}

.blog-navigation-next a:hover,
.blog-navigation-next a:focus{
    text-decoration: none;
    outline: none;
}

.blog-navigation-next a > h5 {
    color: #222;
    font-size: 16px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.blog-navigation-next a>span{
    font-size: 14px;
}

.comments-box-area {
    display: inline;
    float: left;
    margin-top: 30px;
    padding: 20px 0;
    width: 100%;
}

.comments-box-area h2 {
    color: #333;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 10px;
    position: relative;
}

.comments-box-area h2::after {
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 42px;
    width: 50px;
}

.comments-box-area p {
    font-size: 15px;
}

.comments-form{
    margin-top: 10px;
}

.comments-form input{
    height: 40px;
    font-size: 16px;
    border-radius: 0;
}

.comments-form textarea {
    border-radius: 0;
    font-size: 16px;
    height: 200px;
    padding: 10px;
    width: 70%;
}

.comments-form .form-control:focus {
    box-shadow: none;
}

.comments-form .form-group {
    margin-bottom: 20px;
}

.comment-btn {
    padding: 10px 15px;
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #222;
    text-transform: uppercase;
    font-size: 15px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.comment-btn:hover{
    color: #fff;
}
