/* BACKGROUND COLOR */
.menu > ul > li:first-child > a,
.post-style3:hover .cat > a,
.slider-button li > a::before,
.post-tabs > .nav > li > a:before,
.heading2,
.post-thumb5 .progress .progress-bar,
.heading3::before,
.tabs-widget > .nav > li a:before,
.heading4::before,
.post-detail8 > a,
.latest-reviews .progress .progress-bar,
.categories-btns > a:nth-child(2n+2),
.category-count-widget > li::before,
.rating-post > span,
.owl-dots .owl-dot.active,
.big-post-carousel .owl-dots .owl-dot.active,
.menu > ul > li > a:after,
.menu > ul > li > a:before,
.gallery-info li:first-child a,
.post-thumb-box > a,
.date3 li > span,
.share-post > li span,
.share-post > li span:before,
.comment-form input[type="submit"],
.contact-form input[type="submit"],
.wide-carousal-post .owl-nav > div:hover,
.experties > h2.active i,
nav.menu .container > ul > li:first-child:before,
.post-desc17 > a,
.video-box-title > a,
.social-btn > li > a:hover,
.search-post > i.active,
.post-style10 .categories-btns a:hover,
.responsive-header > span,
.post-style13:hover .date3 > ul li > a,
.blog-single.style3 .single-post-thumb .post-single-info ul li,
.blog-single.style4 .post-single-info ul li,
.blog-single.style5 .post-single-info ul li,
.blog-single.style6 .post-single-info ul li,
.blog-single.style7 .post-single-info ul li,
.heading9 > h2::before,
.heading9 > h2::after,
.feature-posts-list h4,
.featured-post:before,
.featured-post-carousel .owl-nav > div:hover,
.wide-overlay-text h4 i:after,
.wide-overlay-text span,
.subscribe > button,
.post-tags > a:hover,
.fashion-art .post-detail15 > a,
.owl-nav > div:hover,
.gallery-info li:last-child a,
.fancy-carousal li .post-detail11 .cat > a,
.mega-menu-post-carousel .owl-nav div:hover,
.error-sec a,
.post-style2 .cat > a,
.wide-overlay-text .cat > a
{
	background-color:#131352;
}



/* FONT COLOR */
.likes,
.post-style6 .date a,
.posts-author i,
.post-detail7 .date ul li a,
.heading4::after,
.latest-reviews .progress span,
.category-count-widget > li i,
.post-style4 > h3:hover a,
.post-style1:hover h3 a,
.post-style7:hover .post-detail7 > h3 a,
.rating-stars > b.star-on,
.comment-opt > a,
.read-more,
.pagination > li a:hover,
.pagination > li > span:hover,
.holder a:hover,
.team > i,
.post-detail16 > a,
.award-story > a,
.blog-authors-info > span,
.quick-link > li > a:hover,
.post-detail3 > h3 a:hover,
.cat2 a:hover,
.date > ul > li a:hover,
.ticker .date > ul > li a,
.post-category > h3 a:hover,
footer .social-btn.style2 a:hover i,
.footer-menu > li > a:hover,
.post-style10 > h3 a:hover,
.fancy-carousal .owl-nav > div:hover:after,
.post-detail12 > h3 a:hover,
.post-style14 > h3 a:hover,
.post-style13 > h3 a:hover,
.cat-views > li a:hover,
.post-style15:hover .post-detail15 > i,
.post-detail15 > h3 a:hover,
.responsive-header > ul li.opened > a,
.gallery2 > h3 a:hover,
.gallery2 > span a:hover,
.post-detail11 > h3 a:hover,
.featured-post > h3 a:hover,
.featured-post-title h2 a:hover,
.feature-posts-list .nav li.active .featured-post h3,
.holder a.jp-current,
.your-post > h3 a:hover,
.menu-data .nav li.active a,
.menu-data .tabs-style li a:hover,
.mega-menu3 .menu-data .post-style10 > h3 a:hover,
.menu.dark .mega-menu3 .menu-data .post-style10 > h3 a:hover,
.menu.dark .mega-menu3 .menu-data .date > ul > li a:hover,
.search-no-found h3 i,
.post-style4 .total-comments > a:hover,
nav > ul > li:hover > a,
.menu > div > ul > li ul li a:hover, 
.menu > ul > li ul li a:hover,
.masonary-posts .post-style3 .date a:hover, 
nav > ul > li ul li a:hover,
.blog-authors .post-detail11 > span,
.wide-overlay-text h4 a:hover

{
    color: #131352;
}


/* BORDER COLOR */
.uper-footer .widget::after,
.category-count-widget > li i,
.readable-post > li:hover,
.your-post-action > ul,
.fancy-carousal .owl-nav > div:hover:after,
.post-tags > a:hover,
.menu > div > ul > li ul, 
.menu > ul > li ul, 
nav > ul > li ul,
.menu .menu-list1, 
nav .menu-list1,
.mega-menu
{
    border-color: #131352;
}